#about{
    // height: 100vh;
    overflow: hidden;
    margin-top: 25px;
    .rm-about-detail{
        margin-bottom: 50px ;

        .image-wrap{
            background-color: #fcfcfc;
            padding: 5px;
            border: 1px #efeded solid;
            img{
                background: #eee;
                width: 100%;
                padding: 12px;
                // height: 100vh;
            }
        }

        .abt-detail{
            margin-left: 40px;
        
            h3{
                font-size: 20px;
                margin: 10px 0 20px;
            }

            .personal-info{
                margin-top: 50px;
                ul{
                    li{
                        list-style: none;
                        padding: 5px 0;
                    }
                }
            }
        }// abt-detail
    }// rm-about-detail

    .acad-exp-skill-info{
        background-color: darken($color_white, 3%);
        padding: 40px 0;
        h4{
            font-size: 25px;
            margin-bottom: 35px; 
        }
        .rm-info{
            margin-bottom: 15px;
            h5{
                font-size: 15px;
                font-weight: $font_weight_bold;
                margin-bottom: 0;
            }
            span{
                font-size: 14px;
            }
        }

        .progress-list{
            position: relative;
            margin-bottom: 15px;
            h5{
                font-size: 14px;
            }
            span{
                font-size: 12px;
                position: absolute;
                right: 0;
                top: 0;
            }
            .progress{
                height: 5px;
                @include border-radius(0);
                .progress-bar{
                    background-color: $color_black;
                }
            }
        }

    }//acad-exp-skill-info
}