
.main-content{
    width: 80%;
    float: right;
    @include transition( 0.5s );
    @include media(md){
        width: 70%;
    }
    @include media(xs){
        width: 100%;
    }

    .rm-banner {
         position: relative;
         background-image: url('../images/prof-banner.jpg');
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         display: block;
         height: 100vh;
         width: 100%;
         @include media(xs){
             min-height: 450px;
         }
         &:after{
             content: '';
             background: $color_primary;
             opacity: 0.75;
             position: absolute;
             height: 100%;
             width: 100%;
             left: 0;
             right: 0;

         }

        .text-content{
            color: $color_white;
            position: absolute;
            left: 10%;
            z-index: 1;
              @include media(xs) {
                  left: 12px;
              }

            h1{
                color: $color_white;
                @include media(xs) {
                    font-size: 1.75rem;
                }
               
                span{
                    color: $color_tertiary;
                }
            }

            span{
                &.rm-post{
                    font-size: 18px;
                }
            }
        }// text-content

    } // rm-banner

    
} // main-content
