.cm-btn{
    background-color: $color_primary;
    border: none;
    // border-color: darken($color_primary, 5%);
    color: $color_white;
    padding: 5px 10px;
    @include border-radius(0);
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    span{
        position: relative;
        z-index: 2;
    }
    &:before{
        background-color: $color_black;
        content: '';
        position: absolute;
        left: -23px;
        top: 0;
        height: 100%;
        width: 0;
        @include transform(skew(50deg));
        @include transition(all 0.5s);
        z-index: 1;
    }

    &:hover{
        color: $color_white;
        &:before{
            width: 170%;
        }
    }
}